/* Apply the background color to the body */
body {
    background-color: #FFE6A7;
    color:#FFE6A7;
}

h1 {
   color:  rgb(255, 255, 255);
   font-family: 'Gluten', sans-serif;
   font-size: 3em;
   margin: 5px;
}

.homebread{
    margin-top:-115px;
    margin-left:-40px;
}
.topbread{
    position:fixed;
    margin-top:-60px;
    margin:left 30%;
}
