
html, body{
    background-color: rgb(249 212 166)
}

canva{
    display: block;
}

.TopBar{
    background-color: rgb(210 152 111);
    margin-bottom: 80px;
    font-family: "Gluten";
    padding: 20px; 

}

.h1{
    color:rgb(65, 22, 9);
    font-family: "Gluten" 
}
.TestPageTitle{
    color:rgb(65, 22, 9);
    font-family: "Gluten"
}

.recipePaper{
    position:absolute;
    top: 10px;
    left:50%;
    width: 50%;
    transform:translate(-50%,2%);
    height: 3000px;
    background:white;
    z-index: -10;
   
}
.RecipeInfo{
    position: fixed;
    top: 200px;
    left:200px;
    z-index: 3;

}