
html, body{
    background-color: rgb(249 212 166)
}

canva{
    display: block;
}

.TopBar{
    background-color: rgb(210 152 111);
    margin-bottom: 80px;
    font-family: "Gluten";
    padding: 20px; 
    width:100%;

}

.h1{
    color:rgb(65, 22, 9);
    position: fixed;
    font-family: "Gluten" 
}
.TestPageTitle{
    position:relative;
    color:rgb(65, 22, 9);
    font-family: "Gluten";
    padding: 0px;
}

.recipePaper {
    position: relative; /* Changed from absolute */
    width: 58%;
    height: 2000px;
    background: white;
    margin-left: 400px; /* instead of transform for centering */
    z-index: 0; /* stacking base */
    top: 10px;
    bottom: 30px;
}

.RecipeInfo {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1; /* on top of recipePaper */
    padding: 20px;
}